<%= form_for(@url ||= Url.new) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <% end %>

  <% if @user %>
    <%= f.hidden_field :user_id, value: @user.id %>
  <% end %>

  <%= f.label "Spark" %>
  <%= f.text_field :orig_url %>
  <%= f.label "Custom Flame" %>
  <input placeholder="optional" <%= f.text_field :short_url %><br />
  <%= f.submit 'Start Minifire' %>
<% end %>