<h3>All Urls</h3>

<%= render 'urls/display_links' %><br />

<%= render 'urls/form' %><br />
First time here?
<%= link_to 'Create Account', new_user_path %><br /><br />

Been here before?
<%= form_tag login_users_path do %> 
  <%= text_field_tag :username %> <br />
  <%= submit_tag 'Sign In' %>
<% end %>


