<h3>Your Urls</h3>

<% if @urls.count == 0 %>
  <h3><%= "You haven't created any urls!" %></h3>
<% else %>
  <table>
  <% @urls.each do |url| %>
  <tr>
    <td><%= link_to url.orig_url, url.orig_url %></td>
    <td><%= link_to url.short_url, url_path(url.short_url) %></td>
    <td><%= url.impressions %></td>
  </tr>
  <% end %>
  </table>
<% end %>

<%= render './layouts/form' %>